body {
	margin: 0 auto;
	padding: 0 auto;
}


/*			*/
/* hoofd divs*/
/*			*/

#wrapper {
	width:1500px;
	margin:0 auto;
	clear:both;
}

#header {
	margin-top:0;
	height:400px;
	overflow:auto;
}

#main {
	height:500px;
	overflow:auto;
}

#footer {
	display:block;
	position: fixed; 
	bottom:0px; 
	height:30px;
	width:1450px;
	margin-left:25px;
	border-top-right-radius:5px; 
	border-top-left-radius:5px;
}

/*			*/
/*sub divs*/
/*			*/

#headerbox {
	width:550px;
	height:200px;
	margin: 0 auto;
	margin-top:150px;
	border:2px solid #73AD21;
	border-radius: 5px;
}

#mainbox {
	width:1450px;
	height:450px;
	margin: 0 auto;
	margin-top:25px;
	border:2px solid #73AD21;
	border-radius: 5px;
}

/*			*/
/*input*/
/*			*/

form{
	margin-left:21.5px;
	margin-top:25px;
}

input[type=text] {
	width: 500px;
	height: 25px;
	text-align:center;
	/*background-color:#73AD21;*/
	border-style:none; 
	outline: none;
	outline: none;
  	border: 1px solid #DDDDDD;
}

input[type=radio] {
	margin-top:10px;
	background-color: red;
}

label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    font-size: 13px;
}




/*
textarea, input { 
	outline: none; 
}
*/
