<!doctype html>
<html ng-app='todo'>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!--  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/darkly/bootstrap.min.css"> -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="style/formstyle.css">
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="style/soundbox.css">
    <link rel="stylesheet" href="style/jquery-ui.min.css">
    <link rel="stylesheet" href="style/jquery-ui.structure.min.css">
    <link rel="stylesheet" href="style/jquery-ui.theme.min.css"> 


    <script src="script/angular.js"></script>
    <script src="script/jquery-2.2.1.js"></script>
    <script src="script/jquery-ui.min.js"></script> 
    <script src="script/angular-ui-router.js"></script>
    <script src="script/angular-animate.js"></script>
    
    <title>final</title>

    <script src="script/todo.js"></script>
    <script src="controllers/todoController.js"></script>
    <script src="services/todoMongoService.js"></script>
    <script src="script/srcdis.js"></script>
    <script src="script/JQfunctions.js"></script> 
    

</head>
<body>

<div id="wrapper" ng-controller="TodoCrtl" ng-controller="formController">
    <header id="header" >
        <div ng-view id="headerbox" >  
            <div ui-view ></div>
        </div>
<!--
            <form name="inputbox" >
                <INPUT ng-model="todo.task" id="fileinput" type="text" name="txtName" value ="" placeholder="Link.." required="required"> 
                </br>
                <INPUT ng-model="todo.titel" class="titelinput" type="text" name="txtName" value ="" placeholder="titel">
                <INPUT ng-model="todo.author" class="authorinput" type="text" name="txtName" value ="" placeholder="Author">
                <INPUT ng-model="todo.comment" class="commentinput" type="text" name="txtName" value ="" placeholder="comment..">
                 <button type="submit" ng-click="save()" ng-model-instant ></a> Add</button> 
            </form> 
-->     
        
    </header>

    <main id="main">
        <div id="mainbox">

            <div id="addbox" ng-repeat="todo in todos">
                <div id="innerbox">
                    <div id="titeldiv">{{todo.titel}}</div>
                    <button class="delbtn" ng-click="delete(todo._id)"> &#9587;</button>

                    <audio controls="play">
                        <source ng-src="{{todo.task}}" type="audio/mpeg">
                        <source ng-src="{{todo.task}}" type="audio/ogg">
                    </audio>

                    <div id="authordiv">{{todo.author}}</div>
                    <div id="commentdiv">{{todo.comment}}</div>
                    <div id="votediv">
                        <button id="voteup" ng-mousedown="bij = bij + 1" ng-init="bij=0">{{"+" + bij}}</button>
                        <button id="votedown" ng-mousedown="af = af + 1" ng-init="af=0">{{"-" + af}}</button>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer id="footer">    
    </footer>   
</div>

</body>
</html>