/*
#99B898 groen
#FECEA8 huidgeel
#FF847C lichtrood
#E84A5F rood
#2A363B zwartblauw
*/

.headerboxhead {
  text-align: center;
}

/* soundform */
#URLdiv {
  text-align: center;
}

/* infoform */
#INFOdiv {
  text-align: center;
}
/* addform */
#ADDdiv {
  text-align: center;
}

.form-group {
  margin-top:10px;
}


/*button*/

#nextdiv a{
  text-align: center;
  margin:0 auto;
  margin-top:10px;
  width:40px;
  border-radius: 5px;
  border:2px solid #E84A5F;
  background-color:none;
  display:block;
  margin-bottom:10px;
}

#nextdiv a:hover {
  border:2px solid white;
}


#ADDbutton {
  text-align: center;
  margin:0 auto;
  font-size:20px;
  color:white;
  width:80px;
  height:80px;
  border-radius: 5px;
  border:2px solid #E84A5F;
  background-color:#2A363B;
  outline: none;
}
#ADDbutton:hover {
  border:2px solid white;
  cursor: pointer;

}
#ADDbutton:active {
  color:#E84A5F;
}

.radio {
  display:inline-block;
  margin-bottom:20px;
}

.material-icons {
   font-size:20px;
   color:white;
}


/* headerbox buttons */
#status-buttons                 {   }
#status-buttons a               { color:#fff; display:inline-block; font-size:12px; margin-right:10px; text-align:center; text-transform:uppercase; text-decoration:none;}
#status-buttons span            { background:#E84A5F; display:block; height:30px; margin:5px; padding-top:5px; width:30px; border-radius:10%; border:2px solid #E84A5F;}
#status-buttons span:hover      { background:#E84A5F; display:block; height:30px; margin:5px; padding-top:5px; width:30px; border-radius:10%; border:2px solid #fff;}

/*animatie spul */
#listbox {
  height:400px; 
  overflow:auto; 
}

#signup-form { 
  position:relative; 
  height:400px; 
  overflow:hidden; 
  padding:30px; 
}

#form-view.ng-enter,
#form-view.ng-leave { 
  position:absolute; 
  left:30px; 
  right:30px;
  -moz-transition:0.5s all ease; 
  -webkit-transition:0.5s all ease; 
  transition:0.5s all ease; 
}
    
#form-view.ng-enter { 
    -webkit-animation:slideInRight 0.5s both ease;
    -moz-animation:slideInRight 0.5s both ease;
    animation:slideInRight 0.5s both ease; 
}

#form-view.ng-leave            { 
    -webkit-animation:slideOutLeft 0.5s both ease;
    -moz-animation:slideOutLeft 0.5s both ease;
    animation:slideOutLeft 0.5s both ease;   
}


@keyframes slideOutLeft {
    to      { transform: translateX(-200%); }
}
@-moz-keyframes slideOutLeft {  
    to      { -moz-transform: translateX(-200%); }
}
@-webkit-keyframes slideOutLeft {
    to      { -webkit-transform: translateX(-200%); }
}


@keyframes slideInRight {
    from    { transform:translateX(200%); }
    to      { transform: translateX(0); }
}
@-moz-keyframes slideInRight {
    from    { -moz-transform:translateX(200%); }
    to      { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
    from    { -webkit-transform:translateX(200%); }
    to      { -webkit-transform: translateX(0); }
}