body {
	margin: 0 auto;
	padding: 0 auto;
	color:white;
	background-color:#2A363B;
	font-family:'Montserrat';
	src: url('fonts/Montserrat-Regular.ttf');
}

#paginatitel {
	margin: 0 auto;
	padding: 0 auto;
	margin-top:630px;
	clear:both;
	width:400px;
	text-align: center;
	position: absolute;
	font-size:30px;
	color:#FF847C;
	transform: rotate(-90deg);
	text-shadow: 12px 3px 10px rgba(0, 0, 0, 0.1)
}


/*			*/
/* hoofd divs*/
/*			*/

#wrapper {
	width:1500px;
	margin:0 auto;
	clear:both;
}

#header {
	height:800px;
	overflow:auto;
}

#main {
	margin-top:200px;
	height:500px;
	
}

#maintitel {
	margin: 0 auto;
	padding: 0 auto;
	margin-bottom:-420px;
	clear:both;
	width:1000px;
	text-align: left;
	font-size:20px;
	color:#FF847C;
	text-shadow: 12px 3px 10px rgba(0, 0, 0, 0.1)
}

#footer {
	display:block;
	bottom:0px; 
	height:300px;
	width:1450px;
	margin-left:25px;
	border-top-right-radius:5px; 
	border-top-left-radius:5px;
}

/*			*/
/*sub divs*/
/*			*/

#headerbox {
	width:1060px;
	height:600px;
	margin: 0 auto;
	margin-top:150px;
	border:2px solid #E84A5F;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 40px 12px rgba(0,0,0,0.12);
	-moz-box-shadow: 0px 0px 40px 12px rgba(0,0,0,0.12);
	box-shadow: 0px 0px 40px 12px rgba(0,0,0,0.12);
}

#mainbox {     
	transform: rotate(-90deg);
	width:150px;
	height:1000px;
	margin: 0 auto;
	margin-top:-200px;
	margin-bottom:400px;
	border-radius: 5px; 
	overflow:auto;
	background-color: #373D46;

	-webkit-box-shadow: 0px 0px 40px 12px rgba(0,0,0,0.12);
	-moz-box-shadow: 0px 0px 40px 12px rgba(0,0,0,0.12);
	box-shadow: 0px 0px 40px 12px rgba(0,0,0,0.12);

}

#lijstje {
	transform: rotate(180deg);
	width:120px;
	height:25px;
	float:left;
	margin-top:10px;
	margin-left:10px;
	background-color:black;
	border-radius:3px;

}
#lijstjedel{
	margin-right:4px;
	border-radius:3px;
	height:25px;
	border:none;
	background-color:black;
	color:#E84A5F;
	cursor: pointer;
	float:left;
}
#lijstjedel:hover {
	background-color:#E84A5F;
	color:white;
	cursor: pointer;
	float:left;
}

#lijstjetitel {
	overflow:auto;
	margin-top:6px;
	font-size:10px;
}


/*			*/
/*input*/
/*			*/

.arrow {
	font-size:30px;
	
}


input[type=text] {
	text-align:center;
	background-color:#2A363B;
	border-style:none; 
	outline: none;
  	border: 2px solid #E84A5F;
  	border-radius:5px;
  	width:50%;
  	height:40px;
  	color:white;
  	font-size:20px;
}


::-webkit-scrollbar              {display:none;	}
