body {
	margin: 0 auto;
	padding: 0 auto;
}


/*			*/
/* hoofd divs*/
/*			*/

#wrapper {
	width:1500px;
	margin:0 auto;
	clear:both;
}

#header {
	margin-top:0;
	height:400px;
	overflow:auto;
}

#main {
	height:500px;
	
}

#footer {
	display:block;
	position: fixed; 
	bottom:0px; 
	height:30px;
	width:1450px;
	margin-left:25px;
	border-top-right-radius:5px; 
	border-top-left-radius:5px;
}

/*			*/
/*sub divs*/
/*			*/

#headerbox {
	width:550px;
	height:200px;
	margin: 0 auto;
	margin-top:150px;
	border:2px solid #73AD21;
	border-radius: 5px;
}

#mainbox {
	width:1450px;
	height:450px;
	margin: 0 auto;
	margin-top:25px;
	border:2px solid #73AD21;
	border-radius: 5px;
	overflow:auto;

}

/*			*/
/*input*/
/*			*/

form{
	margin-left:21.5px;
	margin-top:25px;
}

input[type=text] {
	text-align:center;
	/*background-color:#73AD21;*/
	border-style:none; 
	outline: none;
	outline: none;
  	border: 1px solid #73AD21;
  	margin-bottom:5px;
}

#fileinput {
	width: 450px;
	height: 25px;
}
.authorinput, .titelinput {
	width:221px;
	height: 25px;
	margin-top:5px;
}

.commentinput {
	width:450px;
	height:50px;
	margin-top:5px;
}

input[type=submit] {
	width:20px
	height:20px;
}




/*
textarea, input { 
	outline: none; 
}
*/
